body {
    color: black;
    background-color: rgb(141, 92, 42);
     background-image: url("../pasta-de-imagens/sapataria.jpeg");
    background-size: cover;
    
}
.navbar {
    display: flex;
    background-color: rgb(102, 62, 13);
    justify-content: center;

}
.navbar ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navbar  a {
    text-decoration: none;
    color: #181616;
    text-transform: uppercase;
    font-size: 40px;
}

.rodape {
    background-color: #81542c;
    color: #ffffff;
    padding: 20px;
  }
  .titulo-pagina {
    margin: 40px auto 10px; /*margin: top right bottom left; */
    padding-left: 10px;
    width: 80%;
    font-size: 44pt;
    font-weight: 700;
    color: #e27e37; /* Código hexadecimal da cor */
    justify-content: center;
    display: flex;
  }
  
  .subtitulo-pagina {
    margin: 10px auto 10px;
    padding-left: 10px;
    width: 80%;
    font-size: 20pt;
    color: #df9b4d;
    justify-content: center;
    display: flex;
  }

  .paragrafo-do-titulo {
    margin: 10px auto 10px;
    padding-left: 10px;
    width: 80%;
    font-size: 20pt;
    color: #ebc098;
    justify-content: center;
    display: flex;

  }

  .logotipo {
    width: 200px;
    height: 150px;
  }
  
  


    
  
    
  