body {
    color: black;
    background-color: rgb(180, 142, 104);
    
}
.menu {
    display: flex;
    background-color: rgb(102, 62, 13);
    justify-content: center;

}
.menu ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.menu ul li a {
    text-decoration: none;
    color: #1b1a1a;
    text-transform: uppercase;
    font-size: 40px;
}

.rodape {
    background-color: #a75207;
    color: #ffffff;
    padding: 20px;
  }
  .titulo-pagina {
    margin: 40px auto 10px; /*margin: top right bottom left; */
    padding-left: 10px;
    width: 80%;
    font-size: 24pt;
    font-weight: 700;
    color: #a75207; /* Código hexadecimal da cor */
    justify-content: center;
    display: flex;
    text-transform: uppercase;

  }
  
  .subtitulo-pagina {
    margin: 10px auto 10px;
    padding-left: 10px;
    width: 80%;
    font-size: 20pt;
    color: #4d2e2e;
  }
  .immagem_do_banner {
    width: 200%;
    height: 400px;
    object-fit: cover;
    object-position: 0,10%;
  }

  .paragrafo_1 {
    margin: 10px auto 10px;
    padding-left: 10px;
    width: 50%;
    font-size: 20pt;
    color: #111010;

  }

  .seçao_1{
    margin-top: 80px;
    display: flex;
    background-color: rgb(102, 62, 13);
    justify-content: center;


  }
